# Deno
.cache/
.vscode/

# Build outputs
/public/
/dist/
/build/

# Dependencies
node_modules/
npm-debug.log
frontend/node_modules/

# Local environment
.env
.env.local
.env.development

# Database files
gundb
data/

# OS specific
.DS_Store
Thumbs.db

yarn.lock
*data.json
*data*
*.db
.idea/
*.bak
*.new
*.log
v8.json
isolate*.log
.esm-cache
.sessionStorage
.localStorage
/types/**/*.ts
!/types/**/*.d.ts
!/types/**/*.test-d.ts
/gun.ts
/temp/